@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
    scroll-behavior: smooth;
}

@layer components {
    .progress-bar-container {
        width: 100%;
        height: 20px;
        background-color: #f0f0f0;
        overflow: hidden;
        rounded: 5px;
    }

    /* Styles for the progress bar */
    .progress-bar {
        width: 0%;
        height: 100%;
        background-color: #0f5199;
        animation: grow 2s ease-in-out;
    }

    /* Keyframes for the animation */
    @keyframes grow {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
}