@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
    scroll-behavior: smooth;
}

@keyframes typing {
  0% {
    width: 0%;
    visibility: hidden;
  }
  100% {
    width: 100%;
    visibility: visible;
    animation-delay: 0.5s;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

@keyframes typing-pause {
  0%, 100% {
    width: 100%; /* Keep the width at 100% during the pause */
    visibility: visible; /* Keep the visibility visible during the pause */
  }
}


@layer components {
    .font-lato.typing-text {
      font-family: 'Lato', sans-serif; /* Replace with your font definition */
    }

    .typing-text {
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid #000;
        padding-right: 14px;
        font-size:  24px;
        color: #000; 
        font-weight: bold;
        animation: typing 2s steps(20) 1, blink 0.5s step-end infinite alternate; /* Add typing-pause animation with infinite iteration */
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
    }

    .progress-bar-container {
        width: 100%;
        height: 20px;
        background-color: #f0f0f0;
        overflow: hidden;
        border-radius: 5px;
    }

    /* Styles for the progress bar */
    .progress-bar {
        width: 0%;
        height: 100%;
        background-color: #0f5199;
        animation: grow 2s ease-in-out;
    }
}


